API_ID: int = 1234567
API_HASH: str = "0123456789abcdef0123456789abcdef"

BOT_TOKEN: str = "1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"

WORKERS: int = 20

MIN_PLAYERS: int = 2
